/* reset css */
*{margin: 0;padding: 0;}
li{list-style: none;}
a{font: inherit;color: inherit;text-decoration: none;}
body{display: flex;flex-direction: column;min-height: 100vh;font-family: 'Poppins', sans-serif;font-size: 15px;}

#main-wrap{flex: 1 0 auto;}
.container{max-width: 1200px;margin: 0 auto;padding: 0 15px;}
.divider{margin-bottom: 50px;}
.border-bottom{border-bottom: 1px solid #c6c6c6;padding-bottom: 50px;}
/* utilities css */
.text-center{text-align: center;}
@keyframes pulse {
	0% {transform: scale(0.95);box-shadow: 0 0 0 0 rgba(0, 175, 193, 0.7);}
	70% {transform: scale(1);box-shadow: 0 0 0 10px rgba(0, 175, 193, 0);}
	100% {transform: scale(0.95);box-shadow: 0 0 0 0 rgba(0, 175, 193, 0.7);}
}

/* header css */
header{padding: 20px 0;background: #006778;color: #fff;}
.logo-menu-wrap{display: flex;justify-content: space-between;align-items: center;}
.logo{font-size: 35px;}
.header-menu ul{display: flex;gap: 20px;}
.header-menu li{text-transform: capitalize;font-size: 16px;}
.header-menu li a{position: relative;}
.header-menu li a:after{content: ''; position: absolute; bottom: -2px; left: 0; right: 0; width: 100%; height: 3px; transform: scaleX(0); background-color: #FFD124; transition: transform 0.3s;}
.header-menu li a:hover:after{transform: scaleX(1);}
.hamburger span{display: block; position: absolute; height: 3px; width: 100%; background: #333; opacity: 1; left: 0; transform: rotate(0deg); transition: .25s ease-in-out; transform-origin: left center; }

/* hamburger*/
#hamburger{display: none;width: 25px;height: 25px; position: relative;}
#hamburger span {display: block;position: absolute;height: 3px;width: 100%;background: #fff;opacity: 1;left: 0;transform: rotate(0deg);transition: .25s ease-in-out;transform-origin: left center;}
#hamburger span:nth-child(1) {top: 0;}
#hamburger span:nth-child(2){top: 11px;}
#hamburger span:nth-child(3){bottom: 0;}

/* mobile menu css */
#mob-header-menu{position: fixed; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; text-align: center; z-index: 9999;transition: all .3s ease;transform: translateY(-100%);background: #fff;color: #006778;}
#mob-header-menu.active{transform: translateY(0);} 
#mob-header-menu nav{display: flex; flex-direction: column;gap: 15px; align-items: center; justify-content: center; min-height: 100%;}
#mob-header-menu ul li{text-transform: uppercase;font-weight: 700;font-size: 17px;line-height: 35px; letter-spacing: 1px;}
#close-mob-menu{width: 25px;height: 25px;position: absolute;top: 34px;right: 15px}
#close-mob-menu span{position: absolute;width: 100%;height: 3px;background: #006778;right: 0;transform: rotate(45deg);top: 11px;}
#close-mob-menu span:nth-child(2){transform: rotate(-45deg);}

/* hero section  */
.hero-section-main-wrap{background: #006778;color: #fff;}
.hero-section{display: flex;align-items: center;justify-content: space-between;padding: 100px 0;}
.my-image{width:500px;height:500px;border-radius: 50%; background: url(../images/manali.png) no-repeat center center;background-size: cover;border: 10px solid #00AFC1;animation: pulse 2s infinite;}
.hero-content{padding-left: 100px;}
.hero-content h2{font-size: 25px;margin-bottom: 15px;}
.hero-content h2 span{font-size: 35px;color: #FFD124;}
.hero-content p{font-size: 15px;line-height: 30px;margin-bottom: 20px;}
.icons-wrap{display: flex;gap: 20px;}
.icons-wrap svg{width: 30px;fill: #fff;transition: all 0.3s linear;}
.gmail-wrap svg{transform: scale(1.15);}
.gmail-wrap a:hover svg{fill: #ff9c96;}
.linkedin-wrap a:hover svg{fill: #68b4ff;}
.github-wrap a:hover svg{fill: #000;}


.section-title{color: #006778; font-size: 25px;text-transform: uppercase;letter-spacing: 3px;}
.section-title span{font-size: 35px;color: #FFD124;}
.my-flex-box{display: flex;justify-content: space-between;align-items: center;}
.my-flex-box div{width: 75%;}
.skills-content{display: grid;grid-template-columns: 1fr 1fr;gap: 40px;}
.skill-type{margin-bottom: 8px;font-weight: 700;text-transform: capitalize;font-size: 18px;color: #484848;}
.all-skills{color: #707070;}




/* footer css */
footer{padding: 15px 0;}

@media only screen and (max-width: 1024px){
    #hamburger{display: block;}
    .header-menu{display: none;}

    .hero-section{padding: 70px 0;}
    .my-image{width: 300px;height: 300px;}
    .hero-content{padding-left: 70px;}

    footer{font-size: 13px;}
}

@media only screen and (max-width: 767px){
    .divider{margin-bottom: 30px;}
    .border-bottom{padding-bottom: 30px;}
    .hero-section{flex-direction: column;padding: 40px 0;}
    .hero-content{padding-left: 0;text-align: center;}
    .my-image-wrap{margin-bottom: 30px;}
    .icons-wrap{justify-content: center;}


    .my-flex-box{flex-direction: column;}
    .my-flex-box div{width: 100%;margin-top: 20px;}
}

@media only screen and (max-width: 599px){
    .skills-content{grid-template-columns: 1fr;gap: 18px;text-align: center;}
}