/* theme colors */
:root{
    --teal: #006778;
    --yellow: #FFD124
}
/*scroll bar css*/
html{scrollbar-color: var(--teal) #dedede;scrollbar-width: thin;}
::-webkit-scrollbar, ::-webkit-scrollbar:horizontal{background: #dedede;width: 7px;height: 3px;}
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:horizontal{background: var(--teal);border-radius: 5px;border-left: 1px solid #dedede;}
/* reset css */
*{margin: 0;padding: 0;}
li{list-style: none;}
a{font: inherit;color: inherit;text-decoration: none;}
body{display: flex;flex-direction: column;min-height: 100vh;font-family: 'Poppins', sans-serif;font-size: 15px;}
#main-wrap{flex: 1 0 auto;}
.container{max-width: 1200px;margin: 0 auto;padding: 0 15px;}
.divider{margin-bottom: 50px;}
.border-bottom{border-bottom: 1px solid #c6c6c6;padding-bottom: 50px;}
/* utilities css */
.text-center{text-align: center;}
@keyframes pulse {
	0% {transform: scale(0.95);box-shadow: 0 0 0 0 rgba(0, 175, 193, 0.7);}
	70% {transform: scale(1);box-shadow: 0 0 0 10px rgba(0, 175, 193, 0);}
	100% {transform: scale(0.95);box-shadow: 0 0 0 0 rgba(0, 175, 193, 0.7);}
}
@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}
/* header css */
header{padding: 20px 0;background: var(--teal);color: #fff;}
.logo-menu-wrap{display: flex;justify-content: space-between;align-items: center;}
.logo{font-size: 35px;}
.header-menu ul{display: flex;gap: 20px;}
.header-menu li{text-transform: capitalize;font-size: 16px;}
.header-menu li a{position: relative;}
.header-menu li a:after{content: ''; position: absolute; bottom: -2px; left: 0; right: 0; width: 100%; height: 3px; transform: scaleX(0); background-color: var(--yellow); transition: transform 0.3s;}
.header-menu li a:hover:after{transform: scaleX(1);}
.hamburger span{display: block; position: absolute; height: 3px; width: 100%; background: #333; opacity: 1; left: 0; transform: rotate(0deg); transition: .25s ease-in-out; transform-origin: left center; }

/* hamburger*/
#hamburger{display: none;width: 25px;height: 25px; position: relative;}
#hamburger span {display: block;position: absolute;height: 3px;width: 100%;background: #fff;opacity: 1;left: 0;transform: rotate(0deg);transition: .25s ease-in-out;transform-origin: left center;}
#hamburger span:nth-child(1) {top: 0;}
#hamburger span:nth-child(2){top: 11px;}
#hamburger span:nth-child(3){bottom: 0;}

/* mobile menu css */
#mob-header-menu{position: fixed; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; text-align: center; z-index: 9999;transition: all .3s ease;transform: translateY(-100%);background: #fff;color: var(--teal);}
#mob-header-menu.active{transform: translateY(0);} 
#mob-header-menu nav{display: flex; flex-direction: column;gap: 15px; align-items: center; justify-content: center; min-height: 100%;}
#mob-header-menu ul li{text-transform: uppercase;font-weight: 700;font-size: 17px;line-height: 35px; letter-spacing: 1px;}
#close-mob-menu{width: 25px;height: 25px;position: absolute;top: 34px;right: 15px}
#close-mob-menu span{position: absolute;width: 100%;height: 3px;background: var(--teal);right: 0;transform: rotate(45deg);top: 11px;}
#close-mob-menu span:nth-child(2){transform: rotate(-45deg);}

/* hero section  */
.hero-section-main-wrap{background: var(--teal);color: #fff;}
.hero-section{display: flex;align-items: center;justify-content: space-between;padding: 100px 0;}
.my-image{width:500px;height:500px;border-radius: 50%; background: url(../images/manali.png) no-repeat center center;background-size: cover;border: 10px solid #00AFC1;animation: pulse 2s infinite;}
.hero-content{padding-left: 100px;}
.hero-content h2{font-size: 28px;margin-bottom: 15px;}
.input-cursor{display: inline-block; width: 2px; height: 28px; background-color: var(--yellow); margin-left: 4px;  animation: blink .6s linear infinite alternate;}
.hero-content p{font-size: 15px;line-height: 30px;margin-bottom: 20px;}
.icons-wrap{display: flex;gap: 20px;}
.icons-wrap svg{width: 30px;fill: #fff;transition: all 0.3s linear;}
.gmail-wrap svg{transform: scale(1.15);}
.gmail-wrap a:hover svg{fill: #ff9c96;transform: scale(1.6);}
.linkedin-wrap a:hover svg{fill: #68b4ff;transform: scale(1.4);}
.github-wrap a:hover svg{fill: #a2a2a2;transform: scale(1.4);}

.section-title{color: var(--teal); font-size: 25px;text-transform: uppercase;letter-spacing: 3px;}
.section-title span{font-size: 35px;color: var(--yellow);}
.my-flex-box{display: flex;justify-content: space-between;align-items: center;}
.my-flex-box > div{width: 71%;}
.skills-content{display: grid;grid-template-columns: 1fr 1fr;gap: 40px;}
.sub-heading{margin-bottom: 8px;font-weight: 700;text-transform: capitalize;font-size: 18px;color: #484848;}
.all-skills{color: #707070;}

.single{padding-bottom: 20px;margin-bottom: 20px;border-bottom: 1px solid #e2e2e2;}
.single:last-child{border-bottom: none;padding: 0;margin: 0;}
.roles{color: #707070;margin-top: 8px;}
.roles li{list-style: disc;list-style-position: inside; font-size: 14px;line-height: 25px;}

/* education css */
.education-wrap{margin: 0 !important;}

/* portfolio css */
.portfolio-outter-wrap{background: var(--teal);color: #fff;}
.portfolio-outter-wrap .section-title{color: #fff;}


/* footer css */
footer{padding: 10px 0;background: var(--teal);color: #fff;font-size: 14px;}
.heart{display: inline-block; background-color: #ff2b2b; width: 10px; height: 10px; position: relative;transform: rotate(45deg);}
.heart:before, .heart:after { position: absolute; content: '';width: 10px; height: 10px; background-color: #ff2b2b;border-radius: 50%;} 
.heart:before{left: -5px;} 
.heart:after{top: -5px;left: 0;}

@media only screen and (max-width: 1024px){
    #hamburger{display: block;}
    .header-menu{display: none;}

    .hero-section{padding: 70px 0;}
    .my-image{width: 300px;height: 300px;}
    .hero-content{padding-left: 70px;}
}

@media only screen and (max-width: 767px){
    .divider{margin-bottom: 30px;}
    .border-bottom{padding-bottom: 30px;}
    .hero-section{flex-direction: column;padding: 40px 0;}
    .hero-content{padding-left: 0;text-align: center;}
    .my-image-wrap{margin-bottom: 30px;}
    .icons-wrap{justify-content: center;}


    .my-flex-box{flex-direction: column;}
    .my-flex-box > div{width: 100%;margin-top: 20px;}
}

@media only screen and (max-width: 599px){
    .skills-content{grid-template-columns: 1fr;gap: 18px;text-align: center;}
}